<div class="content fade-left">
    <span class="header-text">Hello Friend!</span>
    <div class="underline"></div>
    <div class="social-icons">
        <img class="clickable" src="/assets/img/fb-logo.png" height="32px">
        <img class="clickable" src="/assets/img/google-logo.png" height="32px">
    </div>
    <span class="header-subtext">or use your email address</span>
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Password">
    <div class="form-option">
        <div class="remeber-me">
            <input type="checkbox">
            <span>Remember me</span>
        </div>
        <span>
            Forgot password?
        </span>
    </div>
    <button class="clickable fade-up">Sign in</button>
</div>