<section class="main-content">
  <div class="banner" [ngClass]="{'first-position': !isSigninVisible, 'second-position': isSigninVisible}"
    [@slide]="isSigninVisible ? 'right' : 'left'">
    <img src="/assets/img/fp-logo-2.png" height="30px">
    <span class="maintext fade-left">
      {{isSigninVisible ? 'Don\'t have an account?' : 'Already have an account?'}}
    </span>
    <div class="underline"></div>
    <span class="subtext fade-right">
      {{isSigninVisible ? 'Fill in some basic info so that we get to know you': 'Welcome back! We\'ve missed you.'}}
    </span>
    <button class="clickable fade-up" (click)="toggleVisibility()">
      {{isSigninVisible ? 'Sign up': 'Sign in'}}
    </button>

    <img class="img-cross-1 fade-left" src="/assets/img/bg-cross-1.png" height="150px">
    <img class="img-cross-2 fade-right" src="/assets/img/bg-cross-2.png" height="150px">
    <img class="img-circle-1 fade-right" src="/assets/img/bg-circle-1.png" height="50px">
    <img class="img-circle-2 fade-left" src="/assets/img/bg-circle-2.png" height="25px">
    <img class="img-circle-3 fade-down" src="/assets/img/bg-circle-3.png" height="15px">
  </div>
  <signin *ngIf="isSigninVisible"></signin>
  <signup *ngIf="!isSigninVisible"></signup>
</section>