<div class="content fade-right">
    <span class="header-text">Create your account!</span>
    <div class="underline"></div>
    <div class="social-icons">
        <img class="clickable" src="/assets/img/fb-logo.png" height="32px">
        <img class="clickable" src="/assets/img/google-logo.png" height="32px">
    </div>
    <span class="header-subtext">or use your email address to create account</span>
    <input type="text" placeholder="Your name">
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Password">
    <button class="clickable fade-up">Sign up</button>
</div>