/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.clickable:hover {
    cursor: pointer !important;
}

.main-content {
    display: flex;
}

.first-postion {
    order: 1;
}

.second-position {
    order: 2;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh;
    background-color: rgba(51, 122, 183, 1.0);
    color: white;
    position: relative;
    overflow: hidden;
}

/* Banner BG Images */
.banner .img-cross-1 {
    position: absolute;
    top: 0px;
    left: -65px;
}

.banner .img-cross-2 {
    position: absolute;
    bottom: 40px;
    right: -50px;
}


.banner .img-circle-1 {
    position: absolute;
    top: 200px;
    right: -40px;
}


.banner .img-circle-2 {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.banner .img-circle-3 {
    position: absolute;
    top: 30px;
    right: 40px;
}

/* Banner BG Images */


.banner img {
    margin: 20px;
}

.banner .maintext {
    margin: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.banner .underline {
    width: 200px;
    height: 3px;
    background-color: white;
    opacity: 0.38;
}

.banner .subtext {
    margin: 20px;
    text-align: center;
    font-size: 23px;
}

.banner button {
    width: 300px;
    padding: 15px 0px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border-radius: 25px;
    border: 1px solid white;
    outline: none;
}

.banner button:hover {
    margin: 18px;
    border: 3px solid white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100vh;
}

.content .header-text {
    margin: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgba(51, 122, 183, 1.0);
}

.content .underline {
    width: 100px;
    height: 3px;
    background-color:  rgba(51, 122, 183, 1.0);
}

.content .social-icons {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content .social-icons img {
    margin: 10px;
}

.content .header-subtext {
    color: rgba(173, 173, 173, 1.0);
    font-size: 25px;
    margin-bottom: 20px;
}

.content input {
    color: rgb(75, 75, 75);
    outline: rgba(173, 173, 173, 1.0);
    font-size: 20px;
    width: 350px;
    padding: 10px;
    margin: 10px 0px;
}

.content input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(173, 173, 173, 1.0);
    opacity: 1; /* Firefox */
}

.content input:focus {
    outline: none;
}

.content .form-option {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .form-option input {
    width: auto;
    margin-right: 5px;
    outline: rgba(173, 173, 173, 1.0);
}

.content .form-option .remeber-me {
    display: flex;
    align-items: center;
}

.content button {
    outline: none;
    width: 300px;
    padding: 15px 0px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color:  rgba(51, 122, 183, 1.0);
    color: white;
    border-radius: 25px;
    border: 1px solid white;
}

.content button:hover {
    background-color:  rgb(43, 100, 149);
}


/*Animations*/

.fade-left {
    animation: fadeInLeft ease 0.5s;
}

.fade-right {
    animation: fadeInRight ease 0.5s;
}

.fade-up {
    animation: fadeInUp ease 0.5s;
}

.fade-down {
    animation: fadeInDown ease 0.5s;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
